---
import chapters from '../pages/data/chapters.json';
const title = 'Hana ni Awan • meet the flowers';
---

  <button type="button" class="btn btn-light" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-expanded="false" aria-controls="offcanvasExample">
  <span class="navbar-toggler-icon"></span>
  <!-- data-bs-target属性を持つボタン -->
  </button>


  <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">index</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="accordion" id="accordionExample">

      <div>
        <p><a href="/#"><strong>{title}</strong></a></p>
        <ul>
          {chapters.slice(0, 13).map((chapter, index) => {
            let anchor = "../" + chapter.fileName + "/#" + chapter.title.toLowerCase().replaceAll(" ", "-");
            // console.log(anchor);
            if ( index == 0 || index == 1) {
              anchor = "../" + "#" + chapter.title.toLowerCase().replaceAll(" ", "-");
              return <li class="accordion-item"><a href={anchor}>{chapter.title}</a></li>
            } else {
            return <li class="accordion-item">
            <div class="accordion-header" id={"headingOne" + chapter.fileName}>
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target={"#collapse-" + chapter.fileName} aria-expanded="true" aria-controls={"collapse-" + chapter.fileName}>
                <a href={anchor}>{chapter.title}</a>
                <!-- {chapter.title} -->
              </button>
            </div>
            <div id={"collapse-" + chapter.fileName} class="accordion-collapse collapse" aria-labelledby={"heading-" + chapter.fileName} data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <ul>
                  {chapter.subChapters.map((subChapter) => {
                    if (subChapter == chapter.subChapters[0]) {
                      anchor = "/" + chapter.fileName + "/#";
                    } else {
                    anchor = "/" + chapter.fileName + "/#" + subChapter.toLowerCase().replaceAll(" ", "-");
                    }
                  return <li><a href={anchor}>{subChapter}</a></li>
                  })}
                  
                </ul>
              </div>
            </div>
          </li> <!-- end .acordion-item -->
          }
          })}

        </ul>
      </div>
    </div>  <!-- end .acodion -->
  </div> <!-- end .offcanvas-body -->
  </div> <!-- end .offcanvas -->
