---
import chapters from "../pages/data/chapters.json";
const title = "Table of Contents";
---

<!-- <section id="table-of-contents" class="main-chapter row justify-content-center">
	<div class="col-md-6"> -->
		<h2 id={title.toLowerCase().replaceAll(" ", "-")}>{title}</h2>
		<ul>
			{
				chapters.slice(0, 15).map((chapter, i) => {
					let anchor = "";
					if (i == 0 || i == 1) {
						anchor = "#" + chapter.title.toLowerCase().replaceAll(" ", "-");
					} else {
						anchor = chapter.fileName + "/#";
					}
					// console.log(anchor);
					return (
						<li>
							<a href={anchor}>{chapter.title}</a>
							<ul>
								{chapter.subChapters.map((subChapter) => {
									anchor =
										chapter.fileName +
										"/#" +
										subChapter
											.toLowerCase()
											.replaceAll(" ", "-");
									return (
										<li>
											<a href={anchor}>{subChapter}</a>
										</li>
									);
								})}
							</ul>
						</li>
					);
				})
			}
		</ul>
	<!-- </div>
</section> -->
